# Google Sheets API Configuration
VITE_GOOGLE_SHEETS_API_KEY=AIzaSyBH-EU78R0Goti7u1c9ffDSpZANSfIiLYg
VITE_GOOGLE_SPREADSHEET_ID=1M3No1PW2kZlx2soy2RWcapQ0FxowX5o5RmIqkUteCg0
VITE_GOOGLE_APPS_SCRIPT_URL=https://docs.google.com/spreadsheets/d/1M3No1PW2kZlx2soy2RWcapQ0FxowX5o5RmIqkUteCg0/edit?gid=0#gid=0